:root {
    --bs-white: #FDFFFC;
    --bs-blue: #3131ED;
    --bs-bluevice: #00003D;
    --bs-purewhite: #ffffff;
    --bs-purple:#ADADFF;
}


.ContentCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: var(--bs-light);
    
}

.ContentCard{
    background-color: var(--bs-white);
    border: 1px solid var(--bs-blue);
    padding: 4.5em;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 100%;
    min-height: 500px;
    box-shadow: 0 4px 6px #0000001a, 0 8px 0 var(--bs-blue);
    margin: auto 0;
    color: var(--bs-blue);
    
}

.ContentCard h2{
    font-weight: bolder;
    font-size: 40px;
    /* padding: 20px; */
}

.ContentCard input{
    background-color: var(--bs-purple);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    
}

.ContentCard select{
    background-color: var(--bs-purple);
    padding: 8px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    
}

.ContentCard button{
    background-color: var(--bs-blue);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: 250px;
    border: none;
    color: var(--bs-white);
    font-weight: bold;
    font-size: 20px;

}