/* *{
    font-family: Arial, Helvetica, sans-serif;
} */

:root {
    --bs-white: #FDFFFC;
    --bs-blue: #3131ED;
    --bs-bluevice: #00003D;
    --bs-purewhite: #ffffff;
    --bs-purple:#ADADFF;
   


      
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}


.BackgroundConteiner img{
    margin-top: 4em;
    width:100%;
    
}

  
.TitleRow {
    display: flex;
   /* Espaço entre a barrinha e o texto */
  }
  
  .BlockLine {
    width: 14px;
    height: 83px;
    margin-right: 20px;
    background-color:var(--bs-blue) /* ou var(--bs-primary) se usar Bootstrap vars */
  }
  





.ContentSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    /* margin-left: 15em;isso aqui afeta o modo responsivo,alterar */
    gap: 2rem;
    padding: 5rem;
    flex-wrap: wrap; 
    margin-left: 10vw;
   
    
  }
  



  .ContentSection h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    
  }
  
  .ContentSection p {
    font-size: 1rem;
    max-width: 500px;
  }

  





  /* Imagem */
  .ContentSection img {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 10em;/*isso aqui afeta o modo responsivo,alterar*/
  }


  .ContentSectionWithout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-right: 20vh;/*isso aqui afeta o modo responsivo,alterar*/
    gap: 2rem;
    /* padding: 5rem; */
    flex-wrap: wrap; 
  }
  
  .ContentSectionWithout h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
  }
  
  .ContentSectionWithout p {
    font-size: 1rem;
    max-width: 500px;
  }



  .ContentSectionWithout img{
    max-width: 50em;
    width: 100%;
    height: auto;
    object-fit: cover;
  }


  

  .ContentImageIcones {
    display: flex;
    justify-content: center;
    gap: 14em;
    padding: 7em;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .ContentImageIcones > div {
    max-width: 300px;
  }
  
  .ContentImageIcones img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .ContentImageIcones h3 {
    font-size: 30px;
    color:var(--bs-blue);
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  .ContentImageIcones p {
    
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.3px;
  }
  


  .ContentImageIcones img {
    width: 100px; 
    height: 100px;
  }



  


  .Agendamento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:60px;
    margin: 30px;/*coloquei uma margim aqui pra ver como se comportar*/
    gap: 60px;
    flex-wrap: wrap;
  }


  

  
  .Texto h2 {
    font-size: 24px;
    font-weight:bolder;
    margin-bottom: 10px;
  }
  
  .Linha {
    width: 400px;
    height: 4px;
    background-color:var(--bs-blue); /* Azul vibrante */
    margin-bottom: 8vh;
  }
  
  .Botao {
    background-color: var(--bs-purple);
    color:var(--bs-blue);
    padding: 14px;
    width: 25em;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .Botao:hover {
    background-color: #8c8cff;
  }
  
  .CardMedico {
    flex: 1;
    max-width: 300px;
  }
  
  .CardMedico img {
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
  }
  
  .CardMedico p {
    margin-top: 10px;
  }
  


.contentImageMedicos{
  margin-top: 30vh;
  text-align: center;
}


.contentImageMedicos img{
    width: 60%; /*arrumar aqui o tamanho pra mobile*/
}




.footer {
  background-color: #030050;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.footercontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 70px;/*mudei aqui pra ver como se comporta*/
  gap: 20px;
}




.footerleft {
  flex: 1 1 300px;
}

.footerright {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 150px;
}

.footerright .logo {
  width: 50px;
  margin-bottom: 8px;
}

.footerright .brand {
  font-size: 2.0rem;
  font-weight: bold;
  color: var(--bs-blue);
  margin: 0;
}



.footerbottom {
  text-align: center;
  margin-top: 10vh;/*mexi aqui na altura pra testar*/
  font-size: 0.8rem;
  border-top: 1px solid #ffffff33;
  padding-top: 10px;
}





/*mobile version*/



@media only screen and (max-width: 600px) {
  .BackgroundCover{
    background: url(../../assets/bannermedico.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;

  }

.BackgroundConteiner img{
  
 display: none;
  
}






  .ContentSection{
    margin: 10px;

  }

  .ContentSection h1{
    font-size: 25px;
    /* white-space:normal; */
   
    

  }

  
  .ContentSection p{
    font-size: 15px;

  }
  
  .ContentSection img{
    width: 20em;
  } 





  .ContentSectionWithout{
     margin: 20px;
     padding: 30px;
  }

  .ContentSectionWithout h1 {
    font-size: 25px;
  }

  .ContentSectionWithout p{
    font-size: 15px;
  }
 

  .ContentImageIcones img{
    height: 55px;
    width: 55px;
  }

  .ContentImageIcones p{
     font-size: 14px;
  }


  .contentImageMedicos img{
    width: 100%; /*arrumar aqui o tamanho pra mobile*/
}


.footercontent{
  
  font-size: 14px;
}






}