/* *{
    font-family: Arial, Helvetica, sans-serif;
} */

:root {
    --bs-white: #FDFFFC;
    --bs-blue: #3131ED;
    --bs-bluevice: #00003D;
    --bs-purewhite: #ffffff;
    --bs-purple:#ADADFF;
   


      
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}


.BackgroundConteiner img{
    margin-top: 4em;
    width:100%;
}

  
.TitleRow {
    display: flex;
   /* Espaço entre a barrinha e o texto */
  }
  
  .BlockLine {
    width: 14px;
    height: 83px;
    margin-right: 20px;
    background-color:var(--bs-blue) /* ou var(--bs-primary) se usar Bootstrap vars */
  }
  





.ContentSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 15em;/*isso aqui afeta o modo responsivo,alterar*/
    gap: 2rem;
    padding: 5rem;
    flex-wrap: wrap; 
  }
  



  .ContentSection h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
  }
  
  .ContentSection p {
    font-size: 1rem;
    max-width: 500px;
  }
  
  /* Imagem */
  .ContentSection img {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 10em;/*isso aqui afeta o modo responsivo,alterar*/
  }


  .ContentSectionWithout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-right: 15em;/*isso aqui afeta o modo responsivo,alterar*/
    gap: 2rem;
    /* padding: 5rem; */
    flex-wrap: wrap; 
  }
  
  .ContentSectionWithout h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
  }
  
  .ContentSectionWithout p {
    font-size: 1rem;
    max-width: 500px;
  }



  .ContentSectionWithout img{
    max-width: 50em;
    width: 100%;
    height: auto;
    object-fit: cover;
  }


  

  .ContentImageIcones {
    display: flex;
    justify-content: center;
    gap: 14em;
    padding: 7em;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .ContentImageIcones > div {
    max-width: 300px;
  }
  
  .ContentImageIcones img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .ContentImageIcones h3 {
    font-size: 30px;
    color:var(--bs-blue);
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  .ContentImageIcones p {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.3px;
  }
  


  .ContentImageIcones img {
    width: 100px; 
    height: 100px;
  }



  


  .Agendamento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:60px;
    gap: 60px;
    flex-wrap: wrap;
  }

  
  .Texto h2 {
    font-size: 24px;
    font-weight:bolder;
    margin-bottom: 10px;
  }
  
  .Linha {
    width: 400px;
    height: 4px;
    background-color:var(--bs-blue); /* Azul vibrante */
    margin-bottom: 8vh;
  }
  
  .Botao {
    background-color: var(--bs-purple);
    color:var(--bs-blue);
    padding: 14px;
    width: 30em;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .Botao:hover {
    background-color: #8c8cff;
  }
  
  .CardMedico {
    text-align: center;
    flex: 1;
    max-width: 300px;
  }
  
  .CardMedico img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
  }
  
  .CardMedico p {
    margin-top: 12px;
    font-weight: 600;
  }
  
  .CardMedico span {
    font-size: 14px;
    color: #444;
  }




























.backgroundContentTextPagFooter{
    background-color: var(--bs-blue);
    padding: 1vw;
}

.LineFooter{
    background-color: var(--bs-blue);
    height: 1px;
    
}

.contentetexpagFooter > ul{
    color: var(--bs-bluevice);
    list-style: none; /* Remove os marcadores da lista */
    display:flex;
    gap: 15px; 
    margin-left: 12.3vw;
    /* margin-right:20vw; */
    /* justify-content: center; */
    margin-top: 30px;
    font-size: 15px;
   
}



.contentfooter{
    padding-top: 20px;
    margin: 0 auto 20px;
    text-align: justify;
    max-width: 70vw;
    color: var(--bs-bluevice);
    font-size: 13px;
    display: flex;
    line-height: 1.6;
    
}


.SocialIcon{
    color: var(--bs-bluevice);
}

.SocialIcon:hover{
    color: var(--bs-blueclean);
}






.LineFooterBottom{
    width: 1px; 
    background-color:var(--bs-bluevice); 
    height: 100px; 
    margin: 0 auto;
    
}


.contentfooterfinal {
    font-size: 12px;   
    color: var(--bs-bluevice);
    
   
}

.contentfooterfinal span {
    display: block;
    margin-bottom: 8px; 
}

/* .contentfooterfinal span:last-child {
    margin-bottom: 0; 
} */



/*mobile version*/