/* .App {
 overflow-y:hidden; 

} */

:root {
  --bs-white: #FDFFFC;
  --bs-blue: #3131ED;
  --bs-bluevice: #00003D;
  --bs-purewhite: #ffffff;
  --bs-purple:#ADADFF; --bs-white: #FDFFFC;




/**/
/* --bs-lemon:#e9f0c9; */
/* --bs-dark:#20130a; */
/* --bs-blueclean:#3b657a; */
--bs-purplelight:#3e3e53;
/* --bs-bluedark:#123142; */


  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}




/* .App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
} */

/* @keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
} */








.App {
/* text-align: center; */
transition: background-color 0.3s, color 0.3s;
}

.App.dark {
background-color:var(--bs-purplelight);
color: var(--bs-white);
}




/* nav.dark {
background-color: #0f0e0e;
} */

nav ul {
list-style: none;
padding: 0;
}
/* 
@media (max-width: 768px) {
::-webkit-scrollbar{
  overflow: hidden;
}
} */



/* button {
padding: 10px 20px;
border: none;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
}

button:hover {
opacity: 0.8;
} */

